img{
    width: 700px;
    height: 700px;
}

.bg-grey {
    background-color: rgba(233, 233, 233, 0.829);
  }
  
.bg-white {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  

p, .label-colo, h2, h4{
    color: rgb(0, 0, 0);
}

.custom-navbar .navbar-nav .nav-link {
    color: white !important;
  }